.title {
    margin-left: 5%;
}

form {
    margin-top: 5%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 1%;
    background-color: #7F7E7E;
    border-radius: 25px;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2%;
}

.button {
    width: 125px;
    margin: 15px;
}