h1 {
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.mainContent {
    display:flex;
    align-items: center;
    flex-direction: column;
}

.productContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0px 50px;
}

.product {
    border: 2px solid grey;
    border-radius: 10px;
    text-align: center;
    padding: 5px;
    margin-bottom: 50px;
    cursor: pointer;
}

.productName {
    font-weight: bold;
}