.mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin-top: 10%;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10%;
}

.button {
    width: 125px;
    margin: 15px;
}