.title {
    margin-left: 5%;
}

.form {
    padding-left: 25%;
    padding-right: 25%;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.button {
    width: 125px;
    margin: 15px;
}