.mainContent {
    display: flex;
    flex-direction: row;
    margin-left: 175px;
    margin-top: 125px;
}

.productImg {
    width: 400px;
}

.details {
    margin-left: 100px;
    width: 750px;
}

p {
    font-size: 22px;
    font-weight: lighter;
}

button {
    margin-top: 50px;
    margin-left: 175px;
    width: 150px;
    height: 50px;
    font-size: 22px;
}

.auction {
    margin-bottom: 25px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.mod {
    display:flex;
    flex-direction:column;
    align-items: center;
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    margin-top: 125px;
    padding: 20px;
    border: 1px solid #888;
    width: 35%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalPrice {
    display:flex;
    flex-direction:row;
    align-items: baseline;
    margin-bottom: 25px;
}

input {
    margin-right: 10px;
}

h1 {
    font-weight: bold;
    font-size: 50px;
}

h3 {
    font-size: 30px;
}