<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Produits</title>
    <link href="webjars/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/displayProduct.css" rel="stylesheet">
</head>

<body>
    <header></header>
    <h1>Produits en vente</h1>

    <div class="mainContent">
        <div class="productContainer">
            <div class="product" th:each="product : ${products}">
                <div>
                    <p class="productId hidden" th:text="|${product.productId}"></p>
                    <p class="productName" th:text="|${product.name}"></p>
                    <p th:text="|${product.category.categoryName}"></p>
                    <p class="productPrice" th:text="|${product.currentPrice}"></p>
                </div>
            </div>
        </div>
    </div>
    <script src="webjars/jquery/3.5.1/jquery.min.js">
        debug
    </script>
    <script src="webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        $(document).ready(function () {
            $('header').load('./navbar');
        });
    </script>
    <script>
        let products = $(".productPrice");
        for (let product of products) {
            product.innerText = `Prix : ${parseFloat(product.innerText).toFixed(2)} €`;
        }

        $(".product").on("click", (e) => {
            window.location = `http://localhost:8080/productDetails/${e.currentTarget.getElementsByClassName("productId")[0].innerText}`;
        });
    </script>
</body>

</html>