<!DOCTYPE html>
<html lang="en" xmlns:th="https://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Détails d'un produit</title>
    <link href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/productDetails.css" rel="stylesheet">
</head>

<body>
    <header></header>
    <div class="mainContent">
        <img class="productImg" alt="Image du produit" src="/img/ProductImage.jpg">
        <div class="details">
            <p class="productId hidden" th:text="|${product.productId}"></p>
            <h1 th:text="${product.name}"></h1>
            <h3 class="basePrice" th:text="|${product.basePrice}"></h3>
            <h3 class="productPrice" th:text="|${product.currentPrice}"></h3><br>
            <p class="auction" th:text="${product.isAuction}? 'Oui' : 'Non'">
            </p>
            <p th:text="${product.description}">
            </p>
            <p id="timing" class="timing" th:text="${product.endDate}"></p>

        </div>

    </div>
    <!-- Trigger/Open The Modal -->

    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="mod">
                <p>Quelle enchère souhaitez-vous proposer ?</p>
                <p>Veuillez saisir le montant de votre enchère : </p>
                <div class="modalPrice">
                    <input class="newPrice" th:value="${product.currentPrice}" th:min="${product.currentPrice}"
                        type="number">
                    <p><strong>€</strong></p>
                </div>
                <div class="buttons">
                    <input type="submit" class="btn btn-light button" value="Annuler"
                        onclick="modal.style.display = 'none';" />
                    <input id="validateBtn" type="submit" class="btn btn-primary button" value="Valider" />
                </div>
            </div>
        </div>

    </div>
    <button th:if="${!product.isAuction}" class="buyButton">Acheter</button>
    <button id="myBtn" th:if="${product.isAuction}" class="auctionButton" onClick="openDialog()">Enchérir</button>

    <script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];


        btn.onclick = function () {
            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            $('header').load('/navbar');
        });
    </script>
    <script>
        let isAuctionText = $(".auction")[0];
        isAuctionText.innerText = `Produit disponible à l'enchère : ${isAuctionText.innerText}`;

        let price = $(".productPrice")[0];
        let oldPrice = parseFloat(price.innerText).toFixed(2);
        price.innerText = `Montant de la dernière enchère : ${parseFloat(price.innerText).toFixed(2)} €`;

        let basePrice = $(".basePrice")[0];
        basePrice.innerText = `Prix de base : ${parseFloat(basePrice.innerText).toFixed(2)} €`;

        let time = $(".timing")[0].innerText;
        if(time != "") {
            let endDate = new Date(time).toLocaleDateString();
            timing.innerText = `Fin des enchères le : ${endDate}`;
        } 

        var validateBtn = document.getElementById("validateBtn");

        validateBtn.onclick = function () {
            let newPrice = $(".newPrice")[0].value;
            newPrice = parseFloat(newPrice);
            if (newPrice > oldPrice) {
                // Gestion BDD
                let form_data = new FormData();
                form_data.append("userId", JSON.parse(localStorage.getItem("user")).userId);
                form_data.append("newPrice", newPrice);

                $.ajax({
                    type: "POST",
                    url: `http://localhost:8080/setProduct/${$(".productId").html()}`,
                    data: form_data,
                    processData: false,
                    mimeType: "multipart/form-data",
                    contentType: false,
                    success: (data, textStatus, request) => {
                        console.log("success");
                        window.location = "http://localhost:8080/products";
                    },
                    error: (e) => {
                        console.error(e);
                    },
                });
            } else {
                alert("Le prix indiqué n'est pas valide !");
            }
            modal.style.display = 'none';
        }
    </script>
    <script>
        $(".buyButton").on("click", (e) => {
            let form_data = new FormData();
            form_data.append("userId", JSON.parse(localStorage.getItem("user")).userId);

            $.ajax({
                type: "POST",
                url: `http://localhost:8080/buy/${$(".productId").html()}`,
                data: form_data,
                processData: false,
                mimeType: "multipart/form-data",
                contentType: false,
                success: (data, textStatus, request) => {
                    console.log("success");
                    window.location = "http://localhost:8080/products";
                },
                error: (e) => {
                    console.error(e);
                },
            });
        });
    </script>
</body>

</html>